<%- include('../common/header'); -%>
	<section class="status">
		<div class="container mx-auto">
			<div class="status-box w-2/3 mx-auto">
				<div class="flex items-center justify-between mb-12">
					<h1 class="text-xl font-bold">Track delivery status</h1>
					<h6 class="bg-white rounded-full px-4 py-1 text-green-600 text-xs"><%= order._id%></h6>
					<input type="hidden"value="<%= JSON.stringify(order) %>" id="hiddenInput">
				</div>
				<ul>
					<li class="status_line text-xl pb-16 step-completed" data-status="order_placed"><span>Order Placed</span></li>
					<li class="status_line text-xl pb-16 current" data-status="confirmed"><span>Order Confirmation</span></li>
					<li class="status_line text-xl pb-16" data-status="prepared"><span>Preparation</span></li>
					<li class="status_line text-xl pb-16" data-status="delivered"><span>Out for Delivery</span></li>
					<li class="status_line text-xl" data-status="completed"><span>Completed</span></li>
				</ul>
			</div>
		</div>
	</section>
<%- include('../common/footer'); -%>